.slides-container {
  position: relative;
  overflow: hidden;
}

  .slide {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    display: table;
    width: 100%; height: 100%;
    text-align: center;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    &.is-current {
      opacity: 1;
    }
  }

    .slide-content {
      display: table-cell;
      vertical-align: middle;
    }


/*
 * Theme
 */
.slide h1 {
  color: #fff;
 }

@each $current-color in $slides-colors {
  $i: index($slides-colors, $current-color);
  .slide--#{$i} {
    background-color: $current-color;
  }
}
