body {
  font-family: $helvNeue;
  font-weight: 400;
  color: $grey;
  -webkit-font-smoothing: antialiased;
}

html, body, .slides-container {
  height: 100%;
}



/*
 * $Typo
 */
h1, h2 {
  margin: 0 0 .3em 0;
  font-weight: 600;
  color: $grey--darker;
}

h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.2em;
}

p {
  line-height: 1.8;
  margin: 0 0 1em 0;
}



/*
 * $Tip
 */
.tip {
  @include pos(a, x, x, 10%, 50%);
  z-index: 100;
  padding: 20px 40px;
  font-size: .9em;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0, .6);
  border-radius: 3px;
  transform: translateX(-50%);
}
