/*
 * $Generals
 */
$bp-large: 60em;
$bp-medium: 40em;
$bp-small: 30em;



/*
 * $Colors
 */
$grey--darker: #444;
$grey: #555;
$slides-colors: #3498db #e67e22 #95a5a6;



/*
 * $Fonts
 */
$helvNeue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
