extends partials/layout

block head
  title Slides-animate

block content
  .tip Use &larr; and &rarr; on your keyboard to navigate between slides
  .slides-container

    .slide.slide--1(data-animation="fadeIn")
      .slide-content
        h1 Slide #1

    .slide.slide--2(data-animation="fadeInRight")
      .slide-content
        h1 Slide #2

    .slide.slide--3(data-animation="fadeIn")
      .slide-content
        h1 Slide #3

block scripts
  script(src="js/app.js")
  script slidesAnimate( {$el: document.querySelectorAll('.slide')} );