extends partials/layout

block head
  title Gulp starter

block content
  //- Variables
  - var me = {first_name: "Ugo", last_name: "Onali", city: "Paris"}
  - var last_name = me.last_name
  - var letters = last_name.split("")

  //- Content
  .app
    section
      h1 Gulp starter
      h2 Magna Inceptos Egestas Euismod
      p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      h2 Fringilla Pharetra Condimentum Ipsum Vehicula
      p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    section
      h1 Hey Gulp
      p My first name is #{me.first_name}, I live in 
        if me.city
          | #{me.city}
        else
          | nowhere, I'm homeless

    if letters
      section
        h1 Spell my city with for loop
        p
          - for (i=0; i<me.city.length; i++)
            span #{me.city[i]}
            if i < me.city.length - 1
              | -

    section
      h1 Mixin example  
      +article("HOO HAH!")

block scripts
  script(src="js/app.js")